{{> head }}
{{> navbar }}

<div class="container">
    <div class="row">
        
        <div class="col-8">
            <h1>About Us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa iste esse praesentium sapiente officiis modi a perferendis nam sint autem atque exercitationem repellat quas voluptatem, non maiores. Eveniet, sunt error.</p>
        </div>

        <div class="col-4">
            <img src="assets/img/bootstrap-social-logo.png" alt="Logo bootstrap" width="200" height="200" class="img-thumbnail">
        </div>

    </div>
</div>

{{> footer }}